
 body{
    font-family: Arial;
    background: #f4f6fb;
    margin:0;
    padding:20px;
}

h1{
    text-align:center;
}

.container{
    display:flex;
    gap:20px;
}

/* Form */
.form-section{
    width:30%;
    background:white;
    padding:20px;
    border-radius:10px;
}

input, select, textarea{
    width:100%;
    padding:8px;
    margin-top:10px;
}

button{
    margin-top:12px;
    padding:10px;
    width:100%;
    background:#6c63ff;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#574fd6;
}

/* Cards */
.events-section{
    width:70%;
}

.event-card{
    background:white;
    padding:15px;
    border-radius:10px;
    margin-top:10px;
    position:relative;
}

.delete-btn{
    position:absolute;
    right:10px;
    top:10px;
    background:red;
    color:white;
    border:none;
    padding:5px;
    cursor:pointer;
}

.completed{
    text-decoration: line-through;
    opacity:0.6;
}