body{
    font-family: Arial;
    background:#f5f6fa;
    padding:20px;
}

.form-section{
    background:white;
    padding:20px;
    width:300px;
    border-radius:10px;
}

input, select, textarea{
    width:100%;
    margin-top:10px;
    padding:8px;
}