body{
    font-family: Arial, sans-serif;
    background:#f3f4f6;
    margin:0;
    padding:20px;
}

h1{
    text-align:center;
}

.container{
    display:flex;
    gap:20px;
    margin-top:20px;
}

/* Cards */

.form-card, .events-card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.form-card{
    width:30%;
}

.events-card{
    width:70%;
}

/* Inputs */

input, select, textarea{
    width:100%;
    padding:8px;
    margin:8px 0;
    border-radius:6px;
    border:1px solid #ccc;
}

textarea{
    height:70px;
}

/* Add button */

.form-card button{
    width:100%;
    background:#2563eb;
    color:white;
    border:none;
    padding:10px;
    border-radius:6px;
    cursor:pointer;
}

.form-card button:hover{
    background:#1e40af;
}

/* Event Card */

.event-card{
    background:#fafafa;
    padding:15px;
    border-radius:10px;
    margin-top:15px;
}

/* Delete button FULL WIDTH */

.delete-btn{
    width:100%;
    background:#dc2626;
    color:white;
    border:none;
    padding:8px;
    border-radius:6px;
    cursor:pointer;
    margin-bottom:10px;
}

/* Title */

.event-title{
    font-size:20px;
    font-weight:bold;
}

/* Complete button */

.complete-btn{
    width:100%;
    background:#16a34a;
    color:white;
    border:none;
    padding:8px;
    border-radius:6px;
    cursor:pointer;
    margin-top:10px;
}

.complete{
    text-decoration:line-through;
    opacity:0.6;
}