*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:20px;
    font-family: Arial, sans-serif;
    background:#f4f6fb;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.container{
    display:flex;
    gap:20px;
    max-width:1100px;
    margin:auto;
}

/* Form Section */
.form-section{
    width:30%;
    background:white;
    padding:20px;
    border-radius:10px;
}

.form-section h2{
    margin-top:0;
}

input, select, textarea{
    width:100%;
    margin-top:10px;
    padding:8px;
    font-size:14px;
}

textarea{
    resize:none;
    height:80px;
}

button{
    width:100%;
    margin-top:12px;
    padding:10px;
    background:#2563eb;
    color:white;
    border:none;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#1e40af;
}

/* Events Section */
.events-section{
    width:70%;
}

/* Event Card */
.event-card{
    background:white;
    padding:15px;
    border-radius:10px;
    margin-bottom:15px;
}

/* Card Header */
.card-header{
    
    justify-content:space-between;
    align-items:center;
    gap:10px;
    
}

.event-title{
    margin:0;
    font-weight: 600;
    font-size:18px;
    flex:1;
    
}

/* Delete Button */
.delete-btn{
    background:#dc2626;
    color:white;
    border:none;
    padding:8px;
    border-radius:6px;
    cursor:pointer;
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
}

.delete-btn:hover{
    background:#b91c1c;
}

/* Complete Button */
.complete-btn{
    margin-top:10px;
    background:#16a34a;
}

.complete-btn:hover{
    background:#15803d;
}

/* Completed State */
.completed{
    text-decoration:line-through;
    opacity:0.6;
}