body{
    font-family: Arial;
    background:#f5f6fa;
    padding:20px;
}

.form-section{
    background:white;
    padding:20px;
    width:300px;
    border-radius:10px;
}

input, select, textarea{
    width:100%;
    margin-top:10px;
    padding:8px;
}
button{
    margin-top:10px;
    padding:10px;
    background:#6c63ff;
    color:white;
    border:none;
    cursor:pointer;
}

#eventsContainer{
    margin-top:20px;
}